#vendor_sign_up_form_section{
	padding:16px;
}
#vendor_sign_up_form_section h5{
	margin:0;
}
#vendor_sign_up_form_section .container{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.1);
    padding: 22px 28px;
}
#vendor_sign_up_form_section .sub_heading{
	background: o-color('o-color-1');
    margin: 20px 0 10px 0;
    padding: 8px 14px;
    color: #fff;
    border-radius: 4px;
}
#vendor_sign_up_form_section .heading{
	text-align: center;
}
#vendor_sign_up_form_section h4{
	border-bottom:2px solid #000;
	display:inline-block;
	margin:0 auto;
	padding-bottom: 8px;
}
#vendor_sign_up_form_section .img-thumbnail{
	padding: 0.25rem;
    background-color: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 0.25rem;
    width: 135px;
    height: 135px;
}
#vendor_sign_up_form_section .multiselect-native-select .btn-group{
	border: 1px solid lightgray;
    border-radius: 3px;
}
#vendor_sign_up_form_section .multiselect-native-select .btn-group ul li{
	padding: 0 10px;
}
#vendor_sign_up_form_section .multiselect-native-select .btn-group ul li a label input[type="checkbox"]{
	margin-right: 4px;
}
#vendor_sign_up_form_section .multiselect-native-select .btn-group ul li a:focus{
	outline:0;
}
#vendor_sign_up_form_section #create_vendor{
	padding: 6px 20px;
    font-weight: 500;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.1);
}
#vendor_sign_up_form_section .vendor_type .vendor_img{
		display: inline-block;
    position: relative;
}
#vendor_sign_up_form_section .vendor_type .vendor_img .fa-link{
	position: absolute;
    top: 0;
    right: 0;
    background: #eee;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
}

@media only screen and (max-width: 414px) {
	#vendor_sign_up_form_section .vendor_type{
		justify-content: center;
	}
	#vendor_sign_up_form_section .vendor_type .vendor_img{
		text-align: center;
	}
}













